body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f5f8; /* Initial Background Color */
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #333;
}

.color {
    font-weight: bold;
    color: #0056b3;
}

button {
    background-color: #0056b3;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

button:hover {
    background-color: #003c78;
}
